In [1]:
import pandas as pd
import os
import numpy as np
from sklearn import tree
import graphviz
import pickle as pkl

In [2]:
unbalanced_data = pd.read_csv(os.path.join('data', 'application_train_preprocessed.csv'))

In [3]:
unbalanced_data.head()

,NAME_CONTRACT_TYPE_Cash loans,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,CNT_CHILDREN_zero,CNT_CHILDREN_one,CNT_CHILDREN_two,CNT_CHILDREN_three,...,YEARS_EMPLOYED_20+,AMT_REQ_CREDIT_BUREAU_SUM_0,AMT_REQ_CREDIT_BUREAU_SUM_1,AMT_REQ_CREDIT_BUREAU_SUM_2,AMT_REQ_CREDIT_BUREAU_SUM_3,AMT_REQ_CREDIT_BUREAU_SUM_4,AMT_REQ_CREDIT_BUREAU_SUM_5,AMT_REQ_CREDIT_BUREAU_SUM_10,AMT_REQ_CREDIT_BUREAU_SUM_10+,TARGET
0,1,0,0,1,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,0,0,1,0,1,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,0,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,1,0,0,1,1,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
4,1,0,0,1,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0

In [4]:
default = unbalanced_data[unbalanced_data['TARGET'] == 1]
normal = unbalanced_data[unbalanced_data['TARGET'] == 0].iloc[:default.shape[0]]

In [5]:
[default.shape, normal.shape]

[(3960, 206), (3960, 206)]

In [6]:
balanced_data = pd.concat([default, normal])

In [7]:
balanced_data.shape

(7920, 206)

In [8]:
X = np.array(balanced_data.loc[:, balanced_data.columns != 'TARGET'])
y = np.array(balanced_data.loc[:, balanced_data.columns == 'TARGET']).flatten()

In [9]:
random_idxs = np.random.permutation(len(X))

X = X[random_idxs]
y = y[random_idxs]

In [10]:
split_percentage = 80
split_idx = int((split_percentage / 100.) * len(X))

X_train = X[:split_idx]
y_train = y[:split_idx]

X_test = X[split_idx:]
y_test = y[split_idx:]

In [11]:
dataset_f = os.path.join('numpy', 'dataset.pkl')
balanced_data_f = os.path.join('data', 'balanced_data.csv')

dataset = X_train, y_train, X_test, y_test

pkl.dump(dataset, open(dataset_f, 'wb'))
balanced_data.to_csv(os.path.join('data', 'balanced_data.csv'), index=False)